<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.Elemegi.Elemegi">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality.
    -->
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".Controller.MyApp"
        android:allowBackup="true"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/ic_launcher"
        android:largeHeap="true"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity
            android:name=".Controller.ViewManager"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".View.LoginPanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.AddProductPanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.FavouritePagePanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.SearchPanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.EditProfilePanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.MyOrdersPanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.RegisterPanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.HomePagePanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.CommentsPanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.ProfilePagePanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.ForgotPasswordPanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.ProductPagePanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.SettingsPanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.HelpPanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".View.ChangePasswordPanel"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".View.EditProductPanel" />
        <activity android:name=".Controller.SearchManager" />
    </application>

</manifest>